.container {
    max-width: 1200px;
    height: auto;
    margin: 0 auto;
  }
  
  @media screen and (max-width: 1280px) {
    .container {
      width: 980px;
    }
  }

.HomeHeaderWrapper{
    margin-top: 12vh;
    margin-bottom: 64px;
}


.homeTitle {
    font-size: 54px;
    font-weight: bold;
    color: var(--ch-color-text-primary);
}

.homeDescription{
    font-size: 24px;
    color: var(--ch-color-text-primary);
}

.homeDescriptionWrapper {
    margin:0 0 48px ;
}

.imageCoverWrapper {
    border-radius: 12px;
    overflow: hidden;
}
.imageCover {
    width: auto;
    height: auto;

    transform: scale(106%);
    transition: all 0.4s ease-in-out;
}

.imageCover:hover {
    transform: scale(100%);
}


.projectInfo a {
    transition: all 0.2s ease-in-out;
}

.projectInfo a:active , 
.projectInfo a:hover {
    color: var(--ch-color-text-brand);
}

.viewButtonWrapper {
    margin-top: 48px;
}